

#debug: true

spring:
  application:
    name: Team Rockstars IT Scoreboard
  datasource:
    url: jdbc:mysql://localhost:3306/scoreboard
    username: root
    password:
    driver-class: com.mysql.jdbc.Driver
    initialization-mode: always
    platform: mysql
  jpa:
    hibernate:
      ddl-auto: create
  resource:
    add-mapping: true

# Specifies your Active Directory Application ID:
azure:
  activedirectory:
    clientId: da69c979-31ac-4560-b3d2-a04beba0e3e5
    clientSecret: 
    activeDirectoryGroups: 
    tenant: RockstarsBV.onmicrosoft.com
    authority: https://login.windows.net/

logging:
  level:
    ROOT: INFO

    # Set INFO to see the allocated port
    org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer: DEBUG
    org.springframework.boot.context.embedded.undertow.UndertowEmbeddedServletContainer: DEBUG

    # Get info regarding connection to the config server and retries if required
    org.springframework.cloud.config.client.ConfigServicePropertySourceLocator: INFO

    org.apache.http.impl.execchain.RetryExec: INFO

    nl.teamrockstars.chapter.east.scoreboard: DEBUG

