
#debug: true

spring:
  application:
    name: Team Rockstars IT Scoreboard
  datasource:
    url: jdbc:mysql://localhost:3306/scoreboard
    username: root
    password: root
    driver-class: com.mysql.jdbc.Driver
    initialization-mode: always
  jpa:
    hibernate:
      ddl-auto: create
  resource:
    add-mapping: true


logging:
  level:
    ROOT: ERROR

    # Set INFO to see the allocated port
    org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer: INFO
    org.springframework.boot.context.embedded.undertow.UndertowEmbeddedServletContainer: INFO

    # Get info regarding connection to the config server and retries if required
    org.springframework.cloud.config.client.ConfigServicePropertySourceLocator: INFO

    org.apache.http.impl.execchain.RetryExec: INFO

    nl.teamrockstars.chapter.east.scoreboard: INFO

