.login {
    margin-top: 125px;
}

.reactApplication {
    margin-top: 80px;
}

.form-group {
    margin-bottom: 15px
}

.control-label {
    padding-top: 7px
}

input.form-control {
    padding: 10px;
    height: auto;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 100%
}

.overview {
    padding: 5px;
    font-size: 18px;
}


.overview .row {
    border: 1px #222222 solid;
    background-color: rgba(51, 51, 51, 0.8);
    border-bottom: none;
}
.overview .row:last-child {
    border-bottom: 1px #222222 solid;
}

.overview > span {
    display: block;
}

.menu {
    text-align: center;
    background-color: #333333;
    border: 3px solid #222222;
}
.menu ul {
    margin: auto;
    display: inline-flex;
    list-style-type: none;
    font-size: 24px;
}
.menu li {
    padding-left: 5px;
    padding-right: 5px;
}

.labelWithLabel span {
    padding-left: 5px;
    padding-right: 5px;
}

.labelWithLabel span:first-child {
    font-style: italic;
}

.btn.btn-delete {
    background-color: red;
    color: white;
    margin: auto;
    margin-right: 0;
    font-size: 30px;
    font-weight: bold;
}

.textWithLabel span:first-child{
    font-weight: lighter;
}