.progress-bars{
    padding-top: 200px;
}

.stardustText{
    position: relative;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    top: 50%;
    transform: translateY(-50%);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.30px;
}

.login {
    margin-top: 125px;
}

.reactApplication {
    margin-top: 80px;
}

.form-group {
    margin-bottom: 15px
}

.control-label {
    padding-top: 7px
}

input.form-control {
    padding: 10px;
    height: auto;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 100%
}

.overview {
    padding: 5px;
    font-size: 24px;
}

.overview > span {
    display: block;
}

.menu {
    text-align: center;
}
.menu ul {
    margin: auto;
    width: 50%;
    list-style-type: none;
    font-size: 24px;
}
.menu li {
    padding-left: 5px;
    padding-right: 5px;
}

.labelWithLabel span {
    padding-left: 5px;
    padding-right: 5px;
}

.labelWithLabel span:first-child {
    font-style: italic;
}