.progress-bars{
    padding-top: 20px;
    overflow:hidden;
}

.progress-bars > * {
    margin-bottom: 10px;
}

.stardustText{
    position: relative;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    top: 50%;
    transform: translateY(-50%);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.30px;
}

.rockhand {
    min-height: 100%;
    display : inline-flex;
    transform: translateY(-75%) scale(0.9);
    border-radius: 5px;
    margin-left: 2px;
}
.rockhand .label {
    transform: rotate(90deg) translateY(25%) translateX(-15px);
    width: 10px;
    font-weight: bold;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}

.rockhand .pointer {
    transform: rotate(90deg) translateY(80%) scale(5);
}

.progress-bar {
    background-color: #1a1a1a;
    height: 80px;
    padding: 5px;
    width: 100%;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 1px 5px #333 inset, 0 1px 0 #444;
    -webkit-animation: scaleAround 4s ease-in-out infinite;
}

.progress-bar .stardustText {
    display: inline-block;
    height: 100%;
    background-color: #777;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

/*---------------------------*/

.blue span {
    background-color: #4196e3 !important;
}

.pink span {
    background-color: #e36690 !important;
}

.orange span {
    background-color: #fecf23 !important;
    background-image: linear-gradient(top, #feba71, #a37756);
}

.green span {
    background-color: #a5df41 !important;
    background-image: linear-gradient(top, #a5df41, #4ca916);
}

/*---------------------------*/

.stripes .stardustText {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    -webkit-animation: stripes-anim 3s linear infinite;
}

@-webkit-keyframes stripes-anim {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 0;
    }
}

@-webkit-keyframes scaleAround {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scaleX(0.99);
    }
    100% {
        transform: scale(1);
    }
}